* {
    font-family: raleway;
    font-size: 15px;
}

.nav-link:hover,
.dropdown-item:hover {
    color: #00afff !important;
}

#take-of,
#about-me,
#projects,
#goals,
#support,
#contact,
#eventLog,
#techsLog {
    background-color: #00afff !important;
    color: white;
    padding: 10px 0px 2px 0px;
}

#take-of,
#eventLog {
    margin-top: 15px;
}

.social-media {
    background-color: #6c757d !important;
    color: white !important;
    display: flex;
    justify-content: space-around;
}


/* Makeup for log.html */

.bg1 {
    background-color: #00afff !important;
}

.eventLog {
    background-color: #00afff !important;
    color: white;
    margin: 15px 0px 0px 0px;
    padding: 10px 0px 2px 0px;
}

.newEventForm {
    margin: 15px 0px 0px 0px;
}


/* START NAV DROP DOWN MENU */


/* END NAV DROP DOWN MENU */


/* START COPYRIGHT SECTION */

.copyright {
    margin: 15px 0px 15px 0px;
}


/* END COPYRIGHT SECTION */