/* ALL */

* {
    font: 15px raleway;
}


/* Introduction area */

.introduction {
    background-color: #00afff;
    color: white;
    border: 5px solid white;
    border-radius: 10px;
}

#description {
    text-align: center;
}


/* Question area */

.jumbotron {
    border: 5px solid white;
    border-radius: 10px;
}


/* Adapt amount of columns in one row depending on screen size */

@media (min-width: 960px) {
    .container-grid {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
}

@media (min-width: 650px) and (max-width:960px) {
    .container-grid {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}

@media (max-width: 425px) {
    .container-grid {
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}

.grid-box {
    min-height: 310px;
    height: auto;
    border: 5px solid white;
    border-radius: 5px;
    background-color: #00afff;
    color: white !important;
}


/* Set question label and integrated number in the corner */

.questionLabel {
    min-height: 100px;
    max-height: 150px;
    width: 100%;
    background-color: #141681;
    text-align: center;
    padding: 10px;
    display: block;
}

.questionNumber {
    border: 2px solid white;
    line-height: 0.9em;
    font-size: 1.5em;
    width: 30px;
    height: 30px;
    position: relative;
    left: -23px;
    top: -23px;
    display: block;
    background-color: #00afff;
}

.questionNumber:hover {
    transform: scale(1.2);
}


/* Positioning of the form answer fields, such as radio's, checkboxes, textfields etc. */

.form-check {
    margin: 5px 25px 0px 25px;
}


/* Question 2 - Text fields*/

#field1::placeholder,
#field2::placeholder,
#field3::placeholder,
#field4::placeholder {
    color: white;
}

#field1,
#field2,
#field3,
#field4 {
    border: 1px solid white;
    background-color: transparent;
    position: absolute;
    left: 0px;
    color: white;
}

#field1 {
    top: 0px;
}

#field2 {
    top: 25px;
}

#field3 {
    top: 50px;
}

#field4 {
    top: 75px;
}


/* Question 5 - Dropdown box */

#weekly,
#time {
    display: flex;
    justify-content: space-between;
}

#weekly-label,
#time-label {
    vertical-align: center;
    line-height: 36px;
    position: relative;
    left: 25px;
}

#dropdown,
#time-spend {
    border: 1px solid white;
    width: 50%;
    position: relative;
    right: 25px;
}

select[id="dropdown"],
select[id="time-spend"] {
    background-color: transparent;
    color: white;
}


/* Text box for other information and details */

#other-text {
    border: 1px solid white;
    position: absolute;
    left: 0px;
    width: 100%;
    min-height: 175px;
    resize: vertical;
    overflow: scroll;
    background-color: transparent;
    color: white;
}

#other-text::placeholder {
    color: white;
}

#other {
    width: 200px !important;
    line-height: 1.2em;
}


/* Personal details */

#name,
#email,
#number {
    border: 1px solid white;
    width: 50%;
    margin-left: -10px;
    background-color: transparent;
    color: white;
    height: 36px;
    position: relative;
    right: 25px;
}

#name-label,
#email-label,
#number-label {
    line-height: 36px;
    position: relative;
    left: 25px;
}

#name::placeholder,
#email::placeholder,
#number::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    padding-left: 10px;
}

.pers-details {
    display: flex;
    justify-content: space-between;
}

#submit {
    border: 1px solid white;
    position: relative;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}

.btn {
    color: white;
}