/* This part is to set and edit the logo, regardless of the position of anything else the logo must stay on top of everything and center
on the page.*/

.logo-container {
    border: 1px solid #fff;
    /* for debugging */
    display: flex;
    justify-content: center;
}


/* -- END HEADER SECTION --*/


/* This part is to set the language blocks to start out the page, these blocks need to be in a specific order.
In the future the position could be determine based on first letter of name or most important language.
For now the order has to be 1.) Nederlands, 2.) English and in the near future on 3.) Bahasa Indonesia.
These blocks are 'buttons' that point to page 2. Page 2 will be the same for any language except for the language difference. */


/* This part starts with a welcome div (content to be determined) and than the language blocks.
The page has to be clean and simple. For now each block will align based on the order in the HTML section. */

.welcome-container {
    border: 1px solid #fff;
    /* for debugging */
    font: bold 20px raleway;
    color: black;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: center;
}

.language-container {
    display: flex;
    justify-content: center;
}

.lang-grid {
    border: 1px solid #fff;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.lang-grid-item {
    border: 0px solid #fff;
    font: bold 15px raleway;
    color: white;
    text-align: center;
    width: 200px;
    height: 100px;
    line-height: 100px;
}

.btn-lang {
    /*background: radial-gradient(#00afff, #141681);*/
    background-color: #00afff;
}


/* -- END WELCOME AND LANGUAGE SECTON -- */

.footer-container {
    height: 50px;
    display: flex;
    justify-content: center;
}

.footer-item {
    font: 13px raleway;
    line-height: 50px;
}


/* The following section is for the Dutch webpage and all pages
related to this language */